



h1{
  display: block;
}
img{
    margin-bottom: 100px;
    float: right;
    display: block;
}
   
flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.signature{
   text-align: right;
   font-family:cursive;
   font-size: 20px;
   
}

