

body{
    //background-color: plum;
} 
h1{
  display: block;
}
img{
    margin-bottom: 100px;
    float: right;
    display: block;
}
   
flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.signature{
   text-align: right;
   font-family:cursive;
   font-size: 20px;
   
}
@media screen and (min-width: 992px){
    body{
        //background-color:yellowgreen;
        font-size: x-large;
    }       
    img{
        width: 300px;
        height: 300px;
        
    }